.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.whole_layout{
  min-height: 100vh;
}

.site_layout {
  background: #e3e3e3;
}

.site_layout_header {
  background: #fff;
  padding: 0;
}

.site_layout_background {
  background: #fff;
  padding: 24px;
  min-height: 600px;
}

.site_content{
  margin: 32px;
}