
.single_banner {
  position: relative;
  .single_banner_bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 558px;
  }
  .single_banner_title {
    text-align: center;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -40%);
    h1 {
      font-size: 60px;
      color: #ffffff;
      font-weight: 700;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    }
    @media (max-width: 450px) {
      h1 {
        font-size: 42px;
      }
    }
  }
}