
@import '~antd/dist/antd.css';
@import "~nprogress/nprogress.css";
@import "~aos/dist/aos.css";
@import "./variables.scss";

// For the full set of variables https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
.bg-primary {
  background-color: $primary-color;
}
.bg-accent-1 {
  background-color: $accent-1;
}
.bg-accent-2 {
  background-color: $accent-2;
}
.bg-accent-3 {
  background-color: $accent-3;
}
.bg-accent-4 {
  background-color: $accent-4;
}

.color-primary {
  color: $primary-color;
}
.color-accent-1 {
  color: $accent-1;
}
.color-accent-2 {
  color: $accent-2;
}
.color-accent-3 {
  color: $accent-3;
}
.color-accent-4 {
  color: $accent-4;
}
.hover-yellow:hover {
  color: $accent-3;
}

h1, h2, h3, h4, h5, h6 { color: inherit; line-height: 1.75; }
h6 { font-size: 10px; }
h5 { font-size: 14px; }
h4 { font-size: 20px; }
h3 { font-size: 24px; }
h2 { font-size: 42px; }
h1 { font-size: 64px; }

#nprogress {
  .bar {
    background: $accent-2;
    height: 5px;
  }
  .adjust-huener-icon {
    width: 24px;
    height: 24px;
    border: solid 3px transparent;
    border-top-color: $accent-2;
    border-left-color: $accent-2;
  }
  .peg {
    box-shadow: 0 0 10px $accent-2, 0 0 5px $accent-2;
  }
  .adjust-huener {
    right: initial;
    left: 20px;
    top: 20px;
  }
}

.printDiv {
  display: none;
}

@media print {
  .printDiv {
    display: block;
  }
}

@import "./tour-calendar.scss";
