.tc-tour-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tc-blur-hide-inputs {
    opacity: 0.7;
    pointer-events: none;
    filter: blur(1px);

    .ant-form-item {
      opacity: 0;
    }
  }

  .tour-calendar.ant-fullcalendar-fullscreen {
    height: 495px;
    .ant-fullcalendar-calendar-body {
      padding: 0;
      .ant-fullcalendar-table {
        width: 100%;
      }
    }
    .ant-fullcalendar-date {
      height: 85px;
    }
    .ant-fullcalendar-content {
      text-align: center;
      font-size: 12px;
    }
  }

  .tc-room-form {
    max-width: 350px;
    margin: auto;
    .ant-form-item {
      margin-bottom: 8px
    }
  }

  .tc-steps-clickable .ant-steps .ant-steps-item {
    .ant-steps-item-content, .ant-steps-item-icon {
      cursor: pointer;
    }
  }

  .ant-fullcalendar-fullscreen {
    .month-divider {
      color: #000;
      font-size: 18px;
      background: #eee;
      padding: 8px;
      text-align: center;
    }
  }
}